<launch>
	<include file="$(find match_gazebo)/launch/big_square.launch"/>
     
	<include file="$(find mir_launch_sim)/launch/mir_200.launch">
		<arg name="global_planner" value="GlobalPlanner"/>
    </include>
	
	<node type="rviz" name="rviz" pkg="rviz" args="-d $(find bachelor_rviz)/rviz/global_path.rviz"/>

	 <!-- Glättung durch B-Spline 3. Ordnung -->
    <node name="spline_node" pkg="bachelor_nodes" type="b-spline.py" output="screen">
    </node>

</launch>
